### How Are We Doing?

In the last notebook, you created a working version of SVD for situations even when there are tons of missing values.  This is awesome!  The question now is how well does this solution work?

In this notebook, we are going to simulate exactly what we would do in the real world to tune our recommender.  

Run the cell below to read in the data and get started.

In [1]:
import numpy as np
import pandas as pd

# Read in the datasets
movies = pd.read_csv('data/movies_clean.csv')
reviews = pd.read_csv('data/reviews_clean.csv')

del movies['Unnamed: 0']
del reviews['Unnamed: 0']

In [7]:
reviews.sort_values(by='date').head(10)

,user_id,movie_id,rating,timestamp,date,month_1,month_2,month_3,month_4,month_5,...,month_9,month_10,month_11,month_12,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018
498923,37287,2171847,6,1362062307,2013-02-28 14:38:27,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
442554,33140,444778,8,1362062624,2013-02-28 14:43:44,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
81920,6338,1411238,6,1362062838,2013-02-28 14:47:18,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
584570,43691,1496422,7,1362063503,2013-02-28 14:58:23,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
450669,33799,118799,5,1362063653,2013-02-28 15:00:53,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
450691,33799,338013,4,1362063879,2013-02-28 15:04:39,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
28143,2602,1003052,8,1362063906,2013-02-28 15:05:06,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
450612,33799,64665,8,1362064047,2013-02-28 15:07:27,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
545732,40966,884328,7,1362064104,2013-02-28 15:08:24,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
259840,19657,1559547,9,1362064189,2013-02-28 15:09:49,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

1. Using the **reviews** dataframe, perform the following tasks to create a training and validation set of data we can use to test the performance of your SVD algorithm using **off-line** validation techniques.

 * Order the reviews dataframe from earliest to most recent 
 * Pull the first 10000 reviews from  the dataset
 * Make the first 8000/10000 reviews the training data 
 * Make the last 2000/10000 the test data
 * Return the training and test datasets

In [8]:
def create_train_test(reviews, order_by, training_size, testing_size):
    '''    
    INPUT:
        reviews - (pandas df) dataframe to split into train and test
        order_by - (string) column name to sort by
        training_size - (int) number of rows in training set
        testing_size - (int) number of columns in the test set
    OUTPUT:
        training_df -  (pandas df) dataframe of the training set
        validation_df - (pandas df) dataframe of the test set
    '''
    reviews = reviews.sort_values(by=str(order_by))
    training_df = reviews.head(training_size)
    validation_df = reviews.iloc[training_size:(training_size+testing_size)]
  
    return training_df, validation_df

In [9]:
# Nothing to change in this or the next cell
# Use our function to create training and test datasets
train_df, val_df = create_train_test(reviews, 'date', 8000, 2000)

In [10]:
# Make sure the dataframes we are using are the right shape
assert train_df.shape[0] == 8000, "The number of rows doesn't look right in the training dataset."
assert val_df.shape[0] == 2000, "The number of rows doesn't look right in the validation dataset"
assert str(train_df.tail(1)['date']).split()[1] == '2013-03-15', "The last date in the training dataset doesn't look like what we expected."
assert str(val_df.tail(1)['date']).split()[1] == '2013-03-18', "The last date in the validation dataset doesn't look like what we expected."
print("Nice job!  Looks like you have written a function that provides training and validation dataframes for you to use in the next steps.")

Nice job!  Looks like you have written a function that provides training and validation dataframes for you to use in the next steps.

In [14]:
str(train_df.head(1)['date']).split()

['498923', '2013-02-28', '14:38:27', 'Name:', 'date,', 'dtype:', 'object']

In the real world, we might have all of the data up to this final date in the training data.  Then we want to see how well we are doing for each of the new ratings, which show up in the test data.

Below is a working example of the function created in the previous example you can use (or you can replace with your own).

`2.`  Fit the function to the training data with the following hyperparameters: 15 latent features, a learning rate of 0.005, and 250 iterations. This will take some time to run, so you may choose fewer latent features, a higher learning rate, or fewer iteratios if you want to speed up the process.  

**Note:** Again, this might be a good time to take a phone call, go for a walk, or just take a little break.  No need to change the code below unless you would like to make changes to reduce the time needed to obtain results.

In [15]:
def FunkSVD(ratings_mat, latent_features=12, learning_rate=0.0001, iters=100):
    '''
    This function performs matrix factorization using a basic form of FunkSVD with no regularization
    
    INPUT:
    ratings_mat - (numpy array) a matrix with users as rows, movies as columns, and ratings as values
    latent_features - (int) the number of latent features used
    learning_rate - (float) the learning rate 
    iters - (int) the number of iterations
    
    OUTPUT:
    user_mat - (numpy array) a user by latent feature matrix
    movie_mat - (numpy array) a latent feature by movie matrix
    '''
    
    # Set up useful values to be used through the rest of the function
    n_users = ratings_mat.shape[0]
    n_movies = ratings_mat.shape[1]
    num_ratings = np.count_nonzero(~np.isnan(ratings_mat))
    
    # initialize the user and movie matrices with random values
    user_mat = np.random.rand(n_users, latent_features)
    movie_mat = np.random.rand(latent_features, n_movies)
    
    # initialize sse at 0 for first iteration
    sse_accum = 0
    
    # keep track of iteration and MSE
    print("Optimizaiton Statistics")
    print("Iterations | Mean Squared Error ")
    
    # for each iteration
    for iteration in range(iters):

        # update our sse
        old_sse = sse_accum
        sse_accum = 0
        
        # For each user-movie pair
        for i in range(n_users):
            for j in range(n_movies):
                
                # if the rating exists
                if ratings_mat[i, j] > 0:
                    
                    # compute the error as the actual minus the dot product of the user and movie latent features
                    diff = ratings_mat[i, j] - np.dot(user_mat[i, :], movie_mat[:, j])
                    
                    # Keep track of the sum of squared errors for the matrix
                    sse_accum += diff**2
                    
                    # update the values in each matrix in the direction of the gradient
                    for k in range(latent_features):
                        user_mat[i, k] += learning_rate * (2*diff*movie_mat[k, j])
                        movie_mat[k, j] += learning_rate * (2*diff*user_mat[i, k])

        # print results
        print("%d \t\t %f" % (iteration+1, sse_accum / num_ratings))
        
    return user_mat, movie_mat

In [16]:
# Create user-by-item matrix - nothing to do here
train_user_item = train_df[['user_id', 'movie_id', 'rating', 'timestamp']]
train_data_df = train_user_item.groupby(['user_id', 'movie_id'])['rating'].max().unstack()
train_data_np = np.array(train_data_df)

# Fit FunkSVD with the specified hyper parameters to the training data
user_mat, movie_mat = FunkSVD(train_data_np, latent_features=15, learning_rate=0.005, iters=250)

Optimizaiton Statistics
Iterations | Mean Squared Error
1 		 10.558154
2 		 5.956890
3 		 4.166482
4 		 3.124528
5 		 2.438981
6 		 1.953912
7 		 1.594235
8 		 1.318812
9 		 1.102870
10 		 0.930452
11 		 0.790775
12 		 0.676280
13 		 0.581499
14 		 0.502382
15 		 0.435859
16 		 0.379568
17 		 0.331668
18 		 0.290703
19 		 0.255516
20 		 0.225176
21 		 0.198927
22 		 0.176149
23 		 0.156330
24 		 0.139042
25 		 0.123929
26 		 0.110687
27 		 0.099061
28 		 0.088831
29 		 0.079812
30 		 0.071843
31 		 0.064787
32 		 0.058528
33 		 0.052962
34 		 0.048004
35 		 0.043578
36 		 0.039619
37 		 0.036071
38 		 0.032885
39 		 0.030020
40 		 0.027438
41 		 0.025108
42 		 0.023002
43 		 0.021095
44 		 0.019366
45 		 0.017797
46 		 0.016371
47 		 0.015073
48 		 0.013890
49 		 0.012811
50 		 0.011826
51 		 0.010926
52 		 0.010102
53 		 0.009347
54 		 0.008655
55 		 0.008020
56 		 0.007437
57 		 0.006901
58 		 0.006408
59 		 0.005955
60 		 0.005537
61 		 0.005151
62 		 0.004796
63 		 0.004467
64 		 0.004164
65 		 0.003884
66 		 0.003624
67 		 0.003384
68 		 0.003161
69 		 0.002955
70 		 0.002764
71 		 0.002586
72 		 0.002421
73 		 0.002268
74 		 0.002125
75 		 0.001992
76 		 0.001869
77 		 0.001754
78 		 0.001647
79 		 0.001547
80 		 0.001454
81 		 0.001367
82 		 0.001285
83 		 0.001209
84 		 0.001138
85 		 0.001072
86 		 0.001010
87 		 0.000952
88 		 0.000897
89 		 0.000846
90 		 0.000798
91 		 0.000753
92 		 0.000711
93 		 0.000672
94 		 0.000635
95 		 0.000600
96 		 0.000567
97 		 0.000536
98 		 0.000507
99 		 0.000480
100 		 0.000454
101 		 0.000430
102 		 0.000407
103 		 0.000386
104 		 0.000366
105 		 0.000347
106 		 0.000328
107 		 0.000311
108 		 0.000295
109 		 0.000280
110 		 0.000266
111 		 0.000252
112 		 0.000240
113 		 0.000228
114 		 0.000216
115 		 0.000205
116 		 0.000195
117 		 0.000185
118 		 0.000176
119 		 0.000168
120 		 0.000159
121 		 0.000152
122 		 0.000144
123 		 0.000137
124 		 0.000131
125 		 0.000124
126 		 0.000118
127 		 0.000113
128 		 0.000107
129 		 0.000102
130 		 0.000097
131 		 0.000093
132 		 0.000088
133 		 0.000084
134 		 0.000080
135 		 0.000076
136 		 0.000073
137 		 0.000069
138 		 0.000066
139 		 0.000063
140 		 0.000060
141 		 0.000058
142 		 0.000055
143 		 0.000052
144 		 0.000050
145 		 0.000048
146 		 0.000045
147 		 0.000043
148 		 0.000041
149 		 0.000040
150 		 0.000038
151 		 0.000036
152 		 0.000034
153 		 0.000033
154 		 0.000031
155 		 0.000030
156 		 0.000029
157 		 0.000027
158 		 0.000026
159 		 0.000025
160 		 0.000024
161 		 0.000023
162 		 0.000022
163 		 0.000021
164 		 0.000020
165 		 0.000019
166 		 0.000018
167 		 0.000017
168 		 0.000017
169 		 0.000016
170 		 0.000015
171 		 0.000015
172 		 0.000014
173 		 0.000013
174 		 0.000013
175 		 0.000012
176 		 0.000012
177 		 0.000011
178 		 0.000011
179 		 0.000010
180 		 0.000010
181 		 0.000009
182 		 0.000009
183 		 0.000009
184 		 0.000008
185 		 0.000008
186 		 0.000008
187 		 0.000007
188 		 0.000007
189 		 0.000007
190 		 0.000006
191 		 0.000006
192 		 0.000006
193 		 0.000006
194 		 0.000005
195 		 0.000005
196 		 0.000005
197 		 0.000005
198 		 0.000004
199 		 0.000004
200 		 0.000004
201 		 0.000004
202 		 0.000004
203 		 0.000004
204 		 0.000003
205 		 0.000003
206 		 0.000003
207 		 0.000003
208 		 0.000003
209 		 0.000003
210 		 0.000003
211 		 0.000003
212 		 0.000002
213 		 0.000002
214 		 0.000002
215 		 0.000002
216 		 0.000002
217 		 0.000002
218 		 0.000002
219 		 0.000002
220 		 0.000002
221 		 0.000002
222 		 0.000002
223 		 0.000002
224 		 0.000001
225 		 0.000001
226 		 0.000001
227 		 0.000001
228 		 0.000001
229 		 0.000001
230 		 0.000001
231 		 0.000001
232 		 0.000001
233 		 0.000001
234 		 0.000001
235 		 0.000001
236 		 0.000001
237 		 0.000001
238 		 0.000001
239 		 0.000001
240 		 0.000001
241 		 0.000001
242 		 0.000001
243 		 0.000001
244 		 0.000001
245 		 0.000001
246 		 0.000001
247 		 0.000001
248 		 0.000001
249 		 0.000001
250 		 0.000001

Now that you have created the **user_mat** and **movie_mat**, we can use this to make predictions for how users would rate movies, by just computing the dot product of the row associated with a user and the column associated with the movie.

`3.` Use the comments in the function below to complete the **predict_rating** function.

In [17]:
user_mat

array([[ 1.07339071,  1.29905867,  1.40506355, ...,  0.49145194,
         0.28454627,  0.42489524],
       [ 0.51628433,  1.00927054,  0.46726037, ...,  0.1189838 ,
         0.42392007,  0.71536851],
       [ 0.8681288 ,  0.34625323,  0.17607626, ...,  0.60810127,
         0.96208615,  0.60482097],
       ...,
       [ 0.76925109,  0.90518836,  0.20950634, ...,  0.56821643,
         0.67019423,  0.5927763 ],
       [ 0.67696936,  0.409736  ,  1.58852645, ...,  1.04586553,
         0.62164967,  0.6125793 ],
       [-0.21410639,  0.56882964,  0.49350706, ...,  1.74886467,
        -0.31968878,  0.36457403]])

In [29]:
train_data_df.index

Int64Index([    8,    46,    48,    51,    66,    72,    90,   104,   112,
              130,
            ...
            53744, 53793, 53795, 53805, 53838, 53856, 53932, 53943, 53962,
            53966],
           dtype='int64', name='user_id', length=3278)

In [30]:
def predict_rating(user_matrix, movie_matrix, user_id, movie_id):
    '''
    INPUT:
        user_matrix - user by latent factor matrix
        movie_matrix - latent factor by movie matrix
        user_id - the user_id from the reviews df
        movie_id - the movie_id according the movies df
    
    OUTPUT:
        pred - the predicted rating for user_id-movie_id according to FunkSVD
    '''
    # Use the training data to create a series of users and movies that matches the ordering in training data
    user_idx = np.array(train_data_df.index)
    movie_idx = np.array(train_data_df.columns)
    
    # User row and Movie Column
    user_iloc = np.where(user_idx == user_id)[0][0]
    movie_iloc = np.where(movie_idx == movie_id)[0][0]
    
    # Take dot product of that row and column in U and V to make prediction
    pred = np.dot(user_matrix[user_iloc, :], movie_matrix[:, movie_iloc])

    return pred

In [31]:
# Test your function with the first user-movie in the user-movie matrix (notice this is a nan)
pred_val = predict_rating(user_mat, movie_mat, 8, 2844)
pred_val

5.9258439337866839

It is great that you now have a way to make predictions. However it might be nice to get a little phrase back about the user, movie, and rating.

`4.` Use the comments in the function below to complete the **predict_rating** function.  

**Note:** The movie name doesn't come back in a great format, so you can see in the solution I messed around with it a bit just to make it a little nicer.

In [46]:
movies[movies['movie_id'] == 2844]['movie'].values[0]

"Fantômas - À l'ombre de la guillotine (1913)"

In [58]:
def print_prediction_summary(user_id, movie_id, prediction):
    '''
    INPUT:
        user_id - the user_id from the reviews df
        movie_id - the movie_id according the movies df
        prediction - the predicted rating for user_id-movie_id
    
    OUTPUT:
        None - prints a statement about the user, movie, and prediction made
    
    '''
    movie_name = movies[movies['movie_id'] == movie_id]['movie'].values[0]
    
    print('For user %d, predict a rating of %f for movie: "%s"' %(user_id, prediction, movie_name))

In [59]:
# Test your function the the results of the previous function
print_prediction_summary(8, 2844, pred_val)

For user 8, predict a rating of 5.925844 for movie: "Fantômas - À l'ombre de la guillotine (1913)"

Now that we have the ability to make predictions, let's see how well our predictions do on the test ratings we already have.  This will give an indication of how well we have captured the latent features, and our ability to use the latent features to make predictions in the future!

`5.` For each of the user-movie rating in the **val_df** dataset, compare the actual rating given to the prediction you would make.  How do your predictions do?  Do you run into any problems?  If yes, what is the problem?  Use the document strings and comments below to assist as you work through these questions.

In [60]:
val_df

,user_id,movie_id,rating,timestamp,date,month_1,month_2,month_3,month_4,month_5,...,month_9,month_10,month_11,month_12,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018
650588,49056,1598822,8,1363308721,2013-03-15 00:52:01,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
650569,49056,289879,9,1363308742,2013-03-15 00:52:22,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
650585,49056,1563738,9,1363308780,2013-03-15 00:53:00,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
650583,49056,1458175,4,1363308799,2013-03-15 00:53:19,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
378686,28599,103639,8,1363309112,2013-03-15 00:58:32,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
667660,50593,1560985,4,1363309202,2013-03-15 01:00:02,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
385306,29000,287978,9,1363309214,2013-03-15 01:00:14,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
434723,32541,1028532,8,1363309341,2013-03-15 01:02:21,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
127399,9779,1194173,8,1363309604,2013-03-15 01:06:44,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
589192,44110,43014,8,1363309635,2013-03-15 01:07:15,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
534719,40093,1454029,8,1363309898,2013-03-15 01:11:38,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
227038,17186,1623205,4,1363310290,2013-03-15 01:18:10,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
561685,42089,117128,9,1363310435,2013-03-15 01:20:35,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
416981,31367,203119,6,1363310561,2013-03-15 01:22:41,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
142397,10811,1623205,6,1363311224,2013-03-15 01:33:44,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
501952,37647,1560985,4,1363311788,2013-03-15 01:43:08,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
212875,16138,443272,7,1363311860,2013-03-15 01:44:20,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
212876,16138,1045658,8,1363311899,2013-03-15 01:44:59,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
610698,45986,1659343,6,1363312052,2013-03-15 01:47:32,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
224077,16963,454876,6,1363312069,2013-03-15 01:47:49,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
93422,7136,469494,10,1363312108,2013-03-15 01:48:28,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
635977,47985,388139,9,1363312568,2013-03-15 01:56:08,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
582120,43524,116676,6,1363312611,2013-03-15 01:56:51,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
451017,33808,1862079,7,1363312705,2013-03-15 01:58:25,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
535309,40126,2101341,9,1363312994,2013-03-15 02:03:14,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
59469,4698,1707386,8,1363313007,2013-03-15 02:03:27,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
524407,39422,1045658,10,1363313130,2013-03-15 02:05:30,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
478251,35678,1707386,8,1363314003,2013-03-15 02:20:03,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
667674,50593,1772925,9,1363314295,2013-03-15 02:24:55,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
449286,33660,276919,9,1363314834,2013-03-15 02:33:54,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109704,8521,454876,8,1363580269,2013-03-18 04:17:49,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
561338,42070,277434,9,1363580274,2013-03-18 04:17:54,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
680209,51658,1711425,6,1363580298,2013-03-18 04:18:18,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
89143,6817,2635622,7,1363580545,2013-03-18 04:22:25,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
448352,33595,1623205,10,1363580610,2013-03-18 04:23:30,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
206389,15749,106833,10,1363580692,2013-03-18 04:24:52,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
113957,8835,2368749,7,1363580706,2013-03-18 04:25:06,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
704256,53339,1911644,10,1363580798,2013-03-18 04:26:38,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
285700,21615,985058,6,1363581446,2013-03-18 04:37:26,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
607260,45650,1859650,7,1363581516,2013-03-18 04:38:36,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
601338,45229,1866249,8,1363581591,2013-03-18 04:39:51,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
620500,46730,1515091,8,1363581762,2013-03-18 04:42:42,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
249620,18876,1235166,8,1363581822,2013-03-18 04:43:42,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
38159,3374,1013753,9,1363581854,2013-03-18 04:44:14,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
288851,21804,2083383,5,1363582051,2013-03-18 04:47:31,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
35473,3124,1623205,8,1363582588,2013-03-18 04:56:28,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
513613,38579,454876,8,1363582752,2013-03-18 04:59:12,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
621237,46771,432021,6,1363582832,2013-03-18 05:00:32,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
628494,47302,1074638,7,1363583002,2013-03-18 05:03:22,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
621225,46771,96895,10,1363583089,2013-03-18 05:04:49,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
675662,51273,1592873,9,1363583456,2013-03-18 05:10:56,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
521189,39200,2109184,2,1363584125,2013-03-18 05:22:05,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
521187,39200,1707386,5,1363584146,2013-03-18 05:22:26,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
627824,47269,405296,7,1363584146,2013-03-18 05:22:26,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
472517,35296,1707386,7,1363584458,2013-03-18 05:27:38,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
521186,39200,408236,2,1363584469,2013-03-18 05:27:49,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
389437,29381,1598828,7,1363584508,2013-03-18 05:28:28,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
521188,39200,1899353,8,1363584544,2013-03-18 05:29:04,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
97966,7530,2093944,7,1363584601,2013-03-18 05:30:01,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
389430,29381,1258972,6,1363584678,2013-03-18 05:31:18,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [74]:
def validation_comparison(val_df, num_preds):
    '''
    INPUT:
        val_df - the validation dataset created in the third cell above
        num_preds - (int) the number of rows (going in order) you would like to make predictions for
    
    OUTPUT:
        Nothing returned - print a statement about the prediciton made for each row of val_df from row 0 to num_preds
    '''
    user_idx = np.array(val_df['user_id'])
    movie_idx = np.array(val_df['movie_id'])
    ratings = np.array(val_df['rating'])
    
    for i in range(num_preds):
        pred = predict_rating(user_mat, movie_mat, user_idx[i], movie_idx[i])
        movie_name = movies[movies['movie_id'] == movie_idx[i]]['movie'].values[0]
        print('User %d on movie "%s"' %(user_idx[i], movie_name)+': pedict rating %s, actual rating %d' %(str(round(pred,2)), ratings[i]))
    
    
# Perform the predicted vs. actual for the first 6 rows.  How does it look?
validation_comparison(val_df, 6)

User 49056 on movie "New Year's Eve (2011)": pedict rating 5.27, actual rating 8
User 49056 on movie "The Butterfly Effect (2004)": pedict rating 6.35, actual rating 9
User 49056 on movie "One Day (2011)": pedict rating 6.95, actual rating 9
User 49056 on movie "The Next Three Days (2010)": pedict rating 8.08, actual rating 4
User 28599 on movie "Aladdin (1992)": pedict rating 6.56, actual rating 8
User 50593 on movie "The Devil Inside (2012)": pedict rating 3.4, actual rating 4

In [75]:
# Perform the predicted vs. actual for the first 7 rows.  What happened?
validation_comparison(val_df, 7)

User 49056 on movie "New Year's Eve (2011)": pedict rating 5.27, actual rating 8
User 49056 on movie "The Butterfly Effect (2004)": pedict rating 6.35, actual rating 9
User 49056 on movie "One Day (2011)": pedict rating 6.95, actual rating 9
User 49056 on movie "The Next Three Days (2010)": pedict rating 8.08, actual rating 4
User 28599 on movie "Aladdin (1992)": pedict rating 6.56, actual rating 8
User 50593 on movie "The Devil Inside (2012)": pedict rating 3.4, actual rating 4

IndexError: index 0 is out of bounds for axis 0 with size 0

** The7th movie is a movie that has no ratings. Therefore, we are not able to make a prediction on it. **